div {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4;
  white-space: nowrap;
  margin: 0;
  background-color: #000000;
  font-family: "Open-Sans", sans-serif;
}
.main-page {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.canvas-container {
  height: 400px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  position: relative;
  font-size: 24px;
}
.canvas-container .welcome-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 50px;
  height: 200px;
  line-height: 200px;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 14px;
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 600;
}
.canvas-container .welcome-popup:after {
  display: block;
  content: ' ';
  width: 0;
  height: 0;
  margin: 0 auto;
  border: solid 30px transparent;
  border-top-color: white;
}
.canvas-options {
  overflow-x: hidden;
  filter: alpha(opacity=0);
  filter: alpha(opacity=100);
  position: relative;
  min-height: 300px;
  font-size: 14px;
  box-shadow: 0 -3px 0px 0px #464646;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.canvas-options .progress-bar {
  display: block;
  content: ' ';
  position: absolute;
  width: 0%;
  height: 4px;
  top: -4px;
  left: 0;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.canvas-options .progress-animated {
  -webkit-animation: progress 500ms linear;
  animation: progress 500ms linear;
}
@keyframes progress {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes progress {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
.canvas-options .stat-list {
  pointer-events: none;
  min-width: 230px;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border-right: solid 2px #464646;
}
.canvas-options .stat-list li {
  padding: 10px;
}
.canvas-options .stat-list li:nth-child(2n) {
  background-color: #222222;
}
.canvas-options .stat-list li .stat-value {
  float: right;
}
#config {
  background-color: #222222;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}
.config-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.config-list li {
  margin-top: 10px;
  margin-bottom: 13px;
}
.config-list li .submit-btn {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
  background: -webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6', GradientType=0);
  background-color: #eae0c2;
  border-radius: 15px;
  border: 2px solid #333029;
  cursor: pointer;
  color: #303030;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.config-list li .submit-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
  background: -webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2', GradientType=0);
  background-color: #ccc2a6;
}
.config-list li .submit-btn:active {
  position: relative;
  top: 1px;
}
.config-list input[type^="checkbox"],
.config-list input[type="checkbox"] + label {
  cursor: pointer;
}
.config-list input[type="checkbox"] {
  width: 14px;
  height: 14px;
}
.config-list input[type="number"] {
  background-color: #222222;
  color: #FFFFFF;
  padding: 2px 10px;
  border: 2px #aaa solid;
  border-radius: 3px;
  outline: none;
  width: 46px;
}
.config-list input[type="number"]:focus {
  border: 2px #7798AB solid;
  box-shadow: 0 0 2px 1px #5b7f94;
}
.config-list input[type="number"]:disabled {
  color: #585858;
  border: 2px transparent solid;
  box-shadow: 0 0 1px 1px #585858;
}
.config-list input[type="number"]:disabled + label {
  color: #585858;
}
.config-list input[type="number"]::-webkit-inner-spin-button,
.config-list input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
